* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
    
  }
  
  header {
    padding: 30px;
  }
  
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  header nav ul li a:hover {
    font-weight: bold;
    border: 2px solid #1100ff;
  }
  
  #logo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #logo h1 {
    text-align: center;
  }
  
  #logo p {
    text-align: justify;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }
  
  .formulario__titulo {
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form fieldset {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form .dados div {
    display: flex;
    flex-direction: column;
  }
  
  .formpref {
    margin-bottom: 10px;
  }
  
  .form input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select {
    height: 40px;
    padding: 5px;
  }
  
  .sobre {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sobre textarea {
    width: 100%;
    height: 250px;
    resize: none;
    padding: 15px;
  }
  
  .formbotao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  
  .formbotao button {
    width: 80px;
    height: 40px;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
  }
  
  .formbotao button:hover {
    background-color: rgb(25, 0, 255);
    font-weight: bold;
    border: 3px solid #ffffff;
  }
  